<div class="col-4">
  <div class='d-flex align-items-center mb-3'>
    <img src="<%= match.home_competitor.img_url %>" width='42px' alt="$">
    <p class='mb-0 mx-2'><strong><%= match.home_competitor.name %></strong></p>
  </div>
  <div class='d-flex align-items-center mb-3'>
    <img src="<%= match.away_competitor.img_url %>" width='42px' alt="$">
    <p class='mb-0 mx-2'><strong><%= match.away_competitor.name %></strong></p>
  </div>
</div>
